[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "include/FastNoise2"]
	path = include/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
